<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe book</a>
    </div>
    <div class="collapse navber-collapse"></div>
    <ul class="nav navbar-nav">
      <!-- <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
      <li><a href="#" (click)="onSelect('shopping-list')">Shopping list</a></li> -->
      <li routerLinkActive="active"><a routerLink="/recipes" *ngIf="isAuthenticated">Recipes</a></li>
      <li routerLinkActive="active"><a routerLink="/auth" *ngIf="!isAuthenticated">Authentication</a></li>
      <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping list</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a style="cursor: pointer;" *ngIf="isAuthenticated" routerLink="/auth"> Logout</a>
      </li>
      <li class="dropdown" appDropdown>
        <a  style="cursor:pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a style="cursor:pointer;" (click)="onSaveData()"> save data</a></li>
          <li><a style="cursor:pointer;" (click)="onFetchdata()">fetch data</a></li>

        </ul>
      </li>

    </ul>
  </div>
</nav>
